In [2]:
# all libraries that are needed
import tensorflow as tf
import numpy as np 
import pandas as pd

In [16]:
user_ratings = pd.read_csv('./data/user_ratings/ratings.csv')
user_ratings.head()

   userId  movieId  rating   timestamp
0       1        1     4.0  1225734739
1       1      110     4.0  1225865086
2       1      158     4.0  1225733503
3       1      260     4.5  1225735204
4       1      356     5.0  1225735119

In [21]:
user_ratings.iloc[:20000000]

          userId  movieId  rating   timestamp
0              1        1     4.0  1225734739
1              1      110     4.0  1225865086
2              1      158     4.0  1225733503
3              1      260     4.5  1225735204
4              1      356     5.0  1225735119
...          ...      ...     ...         ...
19999995  195551     2194     4.0   945052642
19999996  195551     2202     3.0   945225684
19999997  195551     2204     4.0   945225580
19999998  195551     2208     4.0   945225802
19999999  195551     2211     3.0   945225866

[20000000 rows x 4 columns]

In [17]:
count = 0
for i in range(len(user_ratings)):
    if user_ratings['userId'].iloc[i] == 1: 
        count +=1
print(count)
    
# 83239

62

In [3]:
len(user_ratings['userId'].unique())
for x in user_ratings['userId'].unique(): 
    if x  == 3: 
        print('ada')

ada

In [12]:
user_ratings.sort_values(by=['movieId', 'userId'])

          userId  movieId  rating   timestamp
0              1        1     4.0  1225734739
62             2        1     5.0   835815971
304            7        1     4.0   974518024
653           10        1     3.0  1430666394
852           12        1     5.0   862500738
...          ...      ...     ...         ...
4921359    47791   288967     3.5  1689748357
10004211   98408   288971     0.5  1689798322
15711885  154483   288975     4.0  1689812351
29815852  291389   288977     3.0  1689815902
26039346  254114   288983     3.0  1689834886

[33832162 rows x 4 columns]

In [15]:
all_ratings = [[x for x in range(330975)] * 10000]

In [ ]:
all_movies_id_sorted = np.sort([x for x in user_ratings['movieId'].unique()])
all_users_id_sorted = np.sort([x for x in user_ratings['userId'].unique()]) 
index_user_sorted = 0
all_ratings  = []
temp = []


for i in range(len(user_ratings)): 
    # if i > 0: 
    #     adding = int(user_ratings['userId'].iloc[i]) - int(user_ratings['userId'].iloc[i - 1]) 
    #     if adding != 0: 
    #         for i in range(adding): 
    #             temp.append(0)
    #     temp.append(user_ratings['rating'].iloc[i])
    # else: 
    #     temp.append(user_ratings['rating'].iloc[i])
    print(f'perulangan ke {i}')


# for i in all_movies_id_sorted: 
    # for j in range(len(user_ratings)): 
    #     if user_ratings['movieId'].iloc[j] == i: 
    #         if j >  1: 
    #             if int(user_ratings['userId'].iloc[j]) - int(user_ratings['userId'].iloc[j - 1]) != 0:
    #                 adding = int(user_ratings['userId'].iloc[j]) - int(user_ratings['userId'].iloc[j - 1]) 
    #                 for k in range(adding): 
    #                     temp.append(0)
    #             temp.append(user_ratings['rating'].iloc[j])
    # break
# for j in all_movies_id_sorted:
#     for i in range(len(user_ratings)): 
#         if user_ratings['userId'].iloc[i] == all_users_id_sorted[index_user_sorted] and user_ratings['movieId'].iloc[i] == j: 
#             temp.append( user_ratings['rating'].iloc[i])
#             index_user_sorted += 1
#     all_ratings.append(temp)
# for i in range(83240):
#     for j in user_ratings: 
#         index += 1
# print('selesai')

# for movie_id in all_movies_id: 
#     for iteration in range (len(user_ratings)):
#         if user_ratings['movieId'].loc[iteration]  == movie_id and user_ratings['userId'].loc[iteration] == user_id: 
#             temp.append(user_ratings['rating'].loc[iteration])
#             user_id  +=1
#     all_ratings.append(temp)
#     temp = []
# for x in range(len(user_ratings)):
#     if user_ratings['movieId'].iloc[x] == all_movies_id[index] and user_ratings['userId'].iloc[x] == all_users_id[index]:
#         all_ratings.append()

In [ ]:
index

In [ ]:
all_ratings

In [ ]:
user_ratings['rating'].iloc[0]

In [1]:
#  convert to sql
data_ratings = pd.read_excel("./app/model/data/recipe/small_ratings.xlsx")
data_ratings.head()

NameError: name 'pd' is not defined

In [8]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
# Create a table from scratch with 3 rows.

df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
df
#      name
# 0  User 1
# 1  User 2
# 2  User 3
df.to_sql('users', con=engine)

3

In [12]:
import pandas as pd
from sqlalchemy import create_engine

# Ganti 'nama_file.xlsx' dengan nama file Excel Anda
excel_file = './app/model/data/recipe/small_ratings.xlsx'

# Baca file Excel ke DataFrame pandas
df = pd.read_excel(excel_file)

# Ganti 'sqlite:///example.db' dengan koneksi database SQL Anda
# Untuk SQLite, gunakan format 'sqlite:///nama_database.db'
engine = create_engine('mysql+mysqlconnector://root:@localhost:3306/small-ratings')

# Tulis DataFrame ke tabel SQL
df.to_sql('user-ratings', engine, index=False, if_exists='replace')

# print("Konversi selesai. Data telah dimuat ke dalam tabel SQL.")

# http://localhost:8081/phpmyadmin/index.php?route=/database/structure&db=small-ratings

5987

In [ ]:
data_ratings.to_sql(name = "small-ratings.sql", )